
jetson_inference_xavier/jetson-inference/data/networks/AlexNet/AlexNet.caffemodel
jetson_inference_xavier/jetson-inference/data/networks/ResNet-101/ResNet-101.caffemodel
jetson_inference_xavier/jetson-inference/data/networks/ResNet-152/ResNet-152.caffemodel
jetson_inference_xavier/jetson-inference/data/networks/VGG-16/VGG-16.caffemodel
jetson_inference_xavier/jetson-inference/data/networks/VGG-19/VGG-19.caffemodel

jetson_inference_tx2/jetson-inference/data/networks/AlexNet/AlexNet.caffemodel
jetson_inference_tx2/jetson-inference/data/networks/ResNet-101/ResNet-101.caffemodel
jetson_inference_tx2/jetson-inference/data/networks/ResNet-152/ResNet-152.caffemodel
jetson_inference_tx2/jetson-inference/data/networks/VGG-16/VGG-16.caffemodel
jetson_inference_tx2/jetson-inference/data/networks/VGG-19/VGG-19.caffemodel

jetson_inference_nano/jetson-inference/data/networks/AlexNet/AlexNet.caffemodel
jetson_inference_nano/jetson-inference/data/networks/ResNet-101/ResNet-101.caffemodel
jetson_inference_nano/jetson-inference/data/networks/ResNet-152/ResNet-152.caffemodel
jetson_inference_nano/jetson-inference/data/networks/VGG-16/VGG-16.caffemodel
jetson_inference_nano/jetson-inference/data/networks/VGG-19/VGG-19.caffemodel

jetson_inference_tx2/jetson-inference/d*
jetson_inference_tx2/jetson-inference/c*
jetson_inference_tx2/jetson-inference/e*

jetson_inference_nano/jetson-inference/d*
jetson_inference_nano/jetson-inference/c*










**/ncappzoo/omz/open_model_zoo/tools/downloader/classification/vgg/v1/16/caffe/vgg-16.caffemodel
**/ncappzoo/omz/open_model_zoo/tools/downloader/classification/vgg/v1/19/caffe/vgg-19.caffemodel
**/ncappzoo/omz/open_model_zoo/tools/downloader/classification/alexnet/caffe/alexnet.caffemodel
**/ncappzoo/omz/open_model_zoo/tools/downloader/classification/inception/v4/v4/caffe/inception-v4.caffemodel
**/ncappzoo/omz/open_model_zoo/tools/downloader/classification/resnet/v1/101/caffe/resnet-101.caffemodel
**/ncappzoo/omz/open_model_zoo/tools/downloader/classification/resnet/v1/152/caffe/resnet-152.caffemodel